engine-strict=true
node-version=18.19.0
legacy-peer-deps=true
package-manager=npm@9.6.7
cache=/opt/buildhome/.npm-cache
use-node-version=18.19.0
package-lock=false
enable-pre-post-scripts=true
node-linker=hoisted
prefer-offline=true 